<a href="https://colab.research.google.com/github/KasiBaskerLaxmanan/pyalgotrading/blob/master/Pandas_01_introduction_get_inspect_tweak_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Explore, Visualize, and Predict using Pandas & Jupyter

### Learn to import, explore, and tweak your data

Matt Harrison (@\_\_mharrison\_\_)

The pandas library is very popular among data scientists, quants, Excel junkies, and Python developers because it allows you to perform data ingestion, exporting, transformation, and visualization with ease. But if you are only familiar with Python, pandas may present some challenges. Since pandas is inspired by Numpy, its syntax conventions can be confusing to Python developers.

If you have questions on Python syntax, check out https://github.com/mattharrison/Tiny-Python-3.6-Notebook

Much of this content is based on my Pandas book, [*Learning the Pandas Library*](https://www.amazon.com/Learning-Pandas-Library-Munging-Analysis/dp/153359824X/ref=sr_1_3?ie=UTF8&qid=1505448275&sr=8-3&keywords=python+pandas)

# Jupyter Intro

Jupyter notebook is an environment for combining interactive coding and text in a webbrowser. This allows us to easily share code as well as narrative around that code. An example that was popular in the scientific community was [the discovery of gravitational waves.](https://losc.ligo.org/s/events/GW150914/GW150914_tutorial.html)

The name Jupyter is a rebranding of an open source project previously known as iPython Notebook. The rebranding was to emphasize that although the backend is written in Python, it supports various *kernals* to run other languages, including Julia (the "Ju" portion), Python ("pyt"), and R ("er"). All popular *data science* programming languages.

The architecture of Jupyter includes a server running various kernals. Using a *notebook* we can interact with a kernal. Typically we use a webbrowser to do this, but there are other iterfaces, such as an emacs mode (ein).

## Using Jupyter

After we create a notebook, we are presented with a page with an empty cell. The cell will have a blue outline, ane the text:

    In [ ]: 
    
on the side. The blue outline indicates that we are in *command mode*. There are two modes in Jupyter, command mode and *edit mode*.

To enter edit mode simply hit the enter or return key. You will notice that the outline will change to green. In edit mode, with a Python kernel, we can type Python code. Type:

    print("hello world")
    
You will notice that unlike a normal Python REPL, this will note print anything after hitting return again. To *execute* the cell, you need to hold down control and hit enter (``C-Enter``). This will run the code, print the results of the cell and put you back into edit mode.     

## Edit Mode

To enter *Edit Mode* you need to click on a cell or hit enter when it is surrounded by the blue outline. You will see that it goes green if you are in edit mode. In edit mode you have basic editing functionality. A few keys to know:

* Ctr-Enter - Run cell (execute Python code, render Markdown)
* ESC - Go back to command mode
* TAB - Tab completion
* Shift-TAB - Bring up tooltip (ESC to dismiss)


## Command Mode

*Command Mode* gives to the ability to create, copy, paste, move, and execute cells. A few keys to know:

* h - Bring up help (ESC to dismiss)
* b - Create cell below
* a - Create cell above
* c - Copy cell
* v - Paste cell below
* Enter - Go into Edit Mode
* m - Change cell type to Markdown
* y - Change cell type to code
* ii - Interrupt kernel
* oo - Restart kernel

## Cell Types

* Code
* Markdown


## Markdown

Can make *italicized*, **bold**, and ``monospaced text``:

    Can make *italicized*, **bold**, and ``monospaced text``


Headers:

    # H1
    ## H2
    ### H3
 
Lists:

    * First item
    * Second item
    
Code:

    If you indent by four spaces you have code:
    
        def add(x, y):
            return x + yt
    
## Cell Magic

type and run ``%lsmagic`` in a cell.

Common magics include:

* ``%%time`` - time how long it takes to run cell
* ``%%!`` - run shell command
* ``%matplotlib inline`` - show matplotlib plots


## IPython Help
Add ? after function, method, etc for documentation (can also run shift-tab 4 times in notebook). Add ?? after function, method, etc to see the source.

# Setup

In [1]:
import pandas as pd
import matplotlib
import numpy as np

pd.__version__, matplotlib.__version__, np.__version__

('1.0.4', '3.2.1', '1.18.5')

In [0]:
# test for unicode
'\N{SNAKE}'

In [2]:
import sys
sys.getdefaultencoding()

'utf-8'

In [3]:
sys.version

'3.6.9 (default, Apr 18 2020, 01:56:04) \n[GCC 8.4.0]'

# Pandas Intro

## Installation

Presumably, you have pandas installed if you ran the cell after **Setup** successfully. The Anaconda distribution is a common way to get the Python scientific stack up and running quickly on most platforms. Running ``pip install pandas`` works as well.

In [0]:
# pandas has two main datatypes: a Series and a DataFrame
# A Series is like a column from a spreadsheet

s = pd.Series([0, 4, 6, 7])

In [0]:
# A DataFrame is like a spreadsheet

df = pd.DataFrame({'name': ['Fred', 'Johh', 'Joe', 'Abe'], 'age': s})

In [6]:
# We can do tab completion on objects that exist (shift tab brings up tooltip)
# ?? brings up source
df.

SyntaxError: ignored

# Datasets

For this class we will look at some time series data. The class will look at Central Park weather. The assignments will deal with El Nino data.

## Central Park


https://pastebin.com/vaB6QQGp

## El Nino

https://archive.ics.uci.edu/ml/datasets/El+Nino

In [0]:
%matplotlib inline
# I typically start with imports like this including the matplotlib magic 
# for most notebooks
import pandas as pd
import numpy as np

# Getting Data
There are various ``pd.read_`` functions for ingesting data

In [8]:
# not necessary if you started jupyter from the project directory
%ls data/
# should have central-park-raw.csv

#https://archive.ics.uci.edu/ml/machine-learning-databases/el_nino-mld/elnino.gz
#https://archive.ics.uci.edu/ml/machine-learning-databases/el_nino-mld/elnino.col

ls: cannot access 'data/': No such file or directory

In [0]:
# if you execute this cell it will bring up a tooltip due to
# the ? at the end. You can also hit shift-tab 4 times
# if your cursor is after the v
# Hit escape to dismiss the tooltip
pd.read_csv?

In [10]:
# let's load the data and treat column 0 as a date
nyc = pd.read_csv('/content/central-park-raw.csv', parse_dates=[0])
# Jupyter will print the result of the last command
nyc

            EST  Max TemperatureF  ...   Events   WindDirDegrees
0    2006-01-01              42.0  ...      NaN            276.0
1    2006-01-02              48.0  ...     Rain             76.0
2    2006-01-03              40.0  ...     Rain             39.0
3    2006-01-04              38.0  ...      NaN             70.0
4    2006-01-05              50.0  ...     Rain            251.0
...         ...               ...  ...      ...              ...
3282 2014-12-27              55.0  ...      NaN            257.0
3283 2014-12-28              54.0  ...     Rain            264.0
3284 2014-12-29              44.0  ...      NaN            308.0
3285 2014-12-30              34.0  ...      NaN              5.0
3286 2014-12-31              32.0  ...      NaN            275.0

[3287 rows x 23 columns]

In [11]:
# dataframes can get big, so only show the first bit
nyc.head()

         EST  Max TemperatureF  ...   Events   WindDirDegrees
0 2006-01-01              42.0  ...      NaN            276.0
1 2006-01-02              48.0  ...     Rain             76.0
2 2006-01-03              40.0  ...     Rain             39.0
3 2006-01-04              38.0  ...      NaN             70.0
4 2006-01-05              50.0  ...     Rain            251.0

[5 rows x 23 columns]

## Getting Data Assignment

For your assignment, you will look at El Nino data.

The [website](https://archive.ics.uci.edu/ml/datasets/El+Nino)  states:

    The data is stored in an ASCII files with one observation per line. Spaces separate fields and periods (.) denote missing values.


Load the ``data/tao-all2.dat.gz`` file into a data frame using ``pd.read_csv``.
Use the ``names`` variable for the initial column names (taken from website).
Replace empty values (``.``) with ``NaN``. Pull the year, month, and date columns into a single variable using the ``parse_dates`` parameter (see the ``pd.read_csv`` docs for info on this).

# Inspecting Data

In [12]:
# Interesting aside, the columns are actually an Index 
nyc.columns

Index(['EST', 'Max TemperatureF', 'Mean TemperatureF', 'Min TemperatureF',
       'Max Dew PointF', 'MeanDew PointF', 'Min DewpointF', 'Max Humidity',
       ' Mean Humidity', ' Min Humidity', ' Max Sea Level PressureIn',
       ' Mean Sea Level PressureIn', ' Min Sea Level PressureIn',
       ' Max VisibilityMiles', ' Mean VisibilityMiles', ' Min VisibilityMiles',
       ' Max Wind SpeedMPH', ' Mean Wind SpeedMPH', ' Max Gust SpeedMPH',
       'PrecipitationIn', ' CloudCover', ' Events', ' WindDirDegrees'],
      dtype='object')

In [13]:
# If is good to know if columns have a [correct] type, (object could mean string)
nyc.dtypes

EST                           datetime64[ns]
Max TemperatureF                     float64
Mean TemperatureF                    float64
Min TemperatureF                     float64
Max Dew PointF                       float64
MeanDew PointF                       float64
Min DewpointF                        float64
Max Humidity                         float64
 Mean Humidity                       float64
 Min Humidity                        float64
 Max Sea Level PressureIn            float64
 Mean Sea Level PressureIn           float64
 Min Sea Level PressureIn            float64
 Max VisibilityMiles                 float64
 Mean VisibilityMiles                float64
 Min VisibilityMiles                 float64
 Max Wind SpeedMPH                   float64
 Mean Wind SpeedMPH                  float64
 Max Gust SpeedMPH                   float64
PrecipitationIn                       object
 CloudCover                          float64
 Events                               object
 WindDirDegrees                      float64
dtype: object

In [14]:
# we can also see how much space is taken up
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EST                         3287 non-null   datetime64[ns]
 1   Max TemperatureF            3285 non-null   float64
 2   Mean TemperatureF           3285 non-null   float64
 3   Min TemperatureF            3285 non-null   float64
 4   Max Dew PointF              3285 non-null   float64
 5   MeanDew PointF              3285 non-null   float64
 6   Min DewpointF               3285 non-null   float64
 7   Max Humidity                3285 non-null   float64
 8    Mean Humidity              3285 non-null   float64
 9    Min Humidity               3285 non-null   float64
 10   Max Sea Level PressureIn   3275 non-null   float64
 11   Mean Sea Level PressureIn  3275 non-null   float64
 12   Min Sea Level PressureIn   3275 non-null   float64
 13   Max VisibilityMiles        3277 non-null   float64
 14   Mean VisibilityMiles       3277 non-null   float64
 15   Min VisibilityMiles        3277 non-null   float64
 16   Max Wind SpeedMPH          3245 non-null   float64
 17   Mean Wind SpeedMPH         3244 non-null   float64
 18   Max Gust SpeedMPH          3177 non-null   float64
 19  PrecipitationIn             3286 non-null   object
 20   CloudCover                 3277 non-null   float64
 21   Events                     1174 non-null   object
 22   WindDirDegrees             3285 non-null   float64
dtypes: datetime64[ns](1), float64(20), object(2)
memory usage: 590.8+ KB

In [15]:
# just view the first 10 rows
nyc.head(10)

         EST  Max TemperatureF  ...   Events   WindDirDegrees
0 2006-01-01              42.0  ...      NaN            276.0
1 2006-01-02              48.0  ...     Rain             76.0
2 2006-01-03              40.0  ...     Rain             39.0
3 2006-01-04              38.0  ...      NaN             70.0
4 2006-01-05              50.0  ...     Rain            251.0
5 2006-01-06              43.0  ...      NaN            317.0
6 2006-01-07              35.0  ...      NaN            267.0
7 2006-01-08              46.0  ...      NaN            192.0
8 2006-01-09              60.0  ...      NaN            249.0
9 2006-01-10              49.0  ...      NaN            261.0

[10 rows x 23 columns]

In [16]:
# Transposing the data often makes it easier to view
nyc.T  # nyc.transpose()

                                              0  ...                 3286
EST                         2006-01-01 00:00:00  ...  2014-12-31 00:00:00
Max TemperatureF                             42  ...                   32
Mean TemperatureF                            37  ...                   30
Min TemperatureF                             32  ...                   27
Max Dew PointF                               32  ...                   12
MeanDew PointF                               30  ...                    8
Min DewpointF                                28  ...                    5
Max Humidity                                 85  ...                   55
 Mean Humidity                               74  ...                   43
 Min Humidity                                62  ...                   30
 Max Sea Level PressureIn                  30.2  ...                30.35
 Mean Sea Level PressureIn                30.03  ...                30.28
 Min Sea Level PressureIn                 29.83  ...                30.18
 Max VisibilityMiles                         10  ...                   10
 Mean VisibilityMiles                        10  ...                   10
 Min VisibilityMiles                          8  ...                   10
 Max Wind SpeedMPH                            9  ...                   14
 Mean Wind SpeedMPH                           3  ...                    6
 Max Gust SpeedMPH                           10  ...                   21
PrecipitationIn                            0.00  ...                 0.00
 CloudCover                                   8  ...                    2
 Events                                     NaN  ...                  NaN
 WindDirDegrees                             276  ...                  275

[23 rows x 3287 columns]

In [17]:
# Here is the size (num rows, num cols)
nyc.shape

(3287, 23)

In [18]:
# We can inspect the index
nyc.index

RangeIndex(start=0, stop=3287, step=1)

In [19]:
# We can use the .set_index method to use another column as the index
nyc.set_index('EST')

            Max TemperatureF  Mean TemperatureF  ...   Events   WindDirDegrees
EST                                              ...
2006-01-01              42.0               37.0  ...      NaN            276.0
2006-01-02              48.0               44.0  ...     Rain             76.0
2006-01-03              40.0               37.0  ...     Rain             39.0
2006-01-04              38.0               34.0  ...      NaN             70.0
2006-01-05              50.0               44.0  ...     Rain            251.0
...                      ...                ...  ...      ...              ...
2014-12-27              55.0               50.0  ...      NaN            257.0
2014-12-28              54.0               49.0  ...     Rain            264.0
2014-12-29              44.0               39.0  ...      NaN            308.0
2014-12-30              34.0               31.0  ...      NaN              5.0
2014-12-31              32.0               30.0  ...      NaN            275.0

[3287 rows x 22 columns]

In [20]:
# undo .set_index with .reset_index
nyc.set_index('EST').reset_index()

            EST  Max TemperatureF  ...   Events   WindDirDegrees
0    2006-01-01              42.0  ...      NaN            276.0
1    2006-01-02              48.0  ...     Rain             76.0
2    2006-01-03              40.0  ...     Rain             39.0
3    2006-01-04              38.0  ...      NaN             70.0
4    2006-01-05              50.0  ...     Rain            251.0
...         ...               ...  ...      ...              ...
3282 2014-12-27              55.0  ...      NaN            257.0
3283 2014-12-28              54.0  ...     Rain            264.0
3284 2014-12-29              44.0  ...      NaN            308.0
3285 2014-12-30              34.0  ...      NaN              5.0
3286 2014-12-31              32.0  ...      NaN            275.0

[3287 rows x 23 columns]

## Inspecting Data Assignment

Now it is your turn to inspect the El Nino data.
 
* What are the columns of the dataframe?
* What are the types of the columns?
* How would you print the first 10 rows of data?
* How would you transpose the data?
* What is the shape of the data?
* How would we inspect the index?

# Tweak Data

  *In Data Science, 80% of time spent prepare data, 20% of time spent complain about need for  prepare data.*
  
  -@bigdataborat
  
Let's see how we spend 80% of our time.

In [21]:
# I like to start by inspecting the columns. Pandas will try to 
# infer types from CSV files, but doesn't always do the right thing.
# Sometimes the data is just messy.
nyc.dtypes

EST                           datetime64[ns]
Max TemperatureF                     float64
Mean TemperatureF                    float64
Min TemperatureF                     float64
Max Dew PointF                       float64
MeanDew PointF                       float64
Min DewpointF                        float64
Max Humidity                         float64
 Mean Humidity                       float64
 Min Humidity                        float64
 Max Sea Level PressureIn            float64
 Mean Sea Level PressureIn           float64
 Min Sea Level PressureIn            float64
 Max VisibilityMiles                 float64
 Mean VisibilityMiles                float64
 Min VisibilityMiles                 float64
 Max Wind SpeedMPH                   float64
 Mean Wind SpeedMPH                  float64
 Max Gust SpeedMPH                   float64
PrecipitationIn                       object
 CloudCover                          float64
 Events                               object
 WindDirDegrees                      float64
dtype: object

In [0]:
# See those spaces in front of some of the Columns?
# Remove spaces from front/end of column names
nyc.columns = [x.strip() for x in nyc.columns]

In [0]:
# Use underscores to enable attribute access/jupyter completion
nyc.columns = [x.replace(' ', '_') for x in nyc.columns]

In [24]:
# For non-numeric columns, .value_counts gives us 
# counts of the data. One would think that 
# PrecipitationIn should be numeric....
nyc.PrecipitationIn.value_counts()

0.00    1952
T        201
0.01     112
0.02      59
0.03      58
        ...
2.31       1
3.99       1
2.01       1
1.45       1
1.66       1
Name: PrecipitationIn, Length: 196, dtype: int64

In [0]:
# There is a "T" in there. Trace? 
# Convert "T" to 0.001
nyc.PrecipitationIn.replace("T", '0.001')
# Convert to numeric data
nyc.PrecipitationIn = pd.to_numeric(nyc.PrecipitationIn.replace("T", '0.001'))

In [26]:
nyc.Events.value_counts()

Rain             803
Fog-Rain         189
Snow              74
Fog-Snow          39
Rain-Snow         31
Fog-Rain-Snow     22
Fog               15
Thunderstorm       1
Name: Events, dtype: int64

In [27]:
# can perform string operations on string columns off of the "str" attribute
nyc.Events.str.upper()

0        NaN
1       RAIN
2       RAIN
3        NaN
4       RAIN
        ...
3282     NaN
3283    RAIN
3284     NaN
3285     NaN
3286     NaN
Name: Events, Length: 3287, dtype: object

In [28]:
# Looks like the type of this column is mixed
type(nyc.Events[0])

float

In [29]:
set(nyc.Events.apply(type))

{float, str}

In [0]:
# Replace nan with ''
nyc['Events'] = nyc.Events.fillna('')

In [31]:
set(nyc.Events.apply(type))

{str}

In [32]:
# convert inches to cm
# If we multiply a column (Series), we are *broadcasting*
# the operation to every cell
nyc.PrecipitationIn * 2.54

0       0.0000
1       1.6002
2       2.8702
3       0.0000
4       0.1270
         ...
3282    0.0000
3283    0.2540
3284    0.0000
3285    0.0000
3286    0.0000
Name: PrecipitationIn, Length: 3287, dtype: float64

In [33]:
# can also apply an arbitrary function, though this will be slow as it is not vectorized
#   map - works with a dictionary (mapping value to new value),  series (like dict), function
#   apply - only works with function as a parameter. Allows extra parameters
#   aggregate (agg) - works with function or list of functions. If reducing function, returns a scalar.
#   transform - wraps agg and won't do a reduction
def to_cm(val):
    return val * 2.54

nyc.PrecipitationIn.transform(to_cm)

0       0.0000
1       1.6002
2       2.8702
3       0.0000
4       0.1270
         ...
3282    0.0000
3283    0.2540
3284    0.0000
3285    0.0000
3286    0.0000
Name: PrecipitationIn, Length: 3287, dtype: float64

In [34]:
%%timeit
nyc.PrecipitationIn.map(to_cm)

1000 loops, best of 3: 870 µs per loop

In [35]:
%%timeit
nyc.PrecipitationIn.transform(to_cm)

1000 loops, best of 3: 917 µs per loop

In [36]:
%%timeit
nyc.PrecipitationIn*2.54

10000 loops, best of 3: 136 µs per loop

In [37]:
# can add and drop columns (axis=1 means along the columns axis)
# Note that we can access some columns with attribute access
# We can only set w/ attribute access on an existing column!
nyc['State'] = 'NYC'
nyc = nyc.drop(['State'], axis=1)
nyc

            EST  Max_TemperatureF  ...  Events  WindDirDegrees
0    2006-01-01              42.0  ...                   276.0
1    2006-01-02              48.0  ...    Rain            76.0
2    2006-01-03              40.0  ...    Rain            39.0
3    2006-01-04              38.0  ...                    70.0
4    2006-01-05              50.0  ...    Rain           251.0
...         ...               ...  ...     ...             ...
3282 2014-12-27              55.0  ...                   257.0
3283 2014-12-28              54.0  ...    Rain           264.0
3284 2014-12-29              44.0  ...                   308.0
3285 2014-12-30              34.0  ...                     5.0
3286 2014-12-31              32.0  ...                   275.0

[3287 rows x 23 columns]

In [38]:
# can use pd.to_datetime to convert a column to a datetime
date_str = nyc.EST.astype(str)
pd.to_datetime(date_str)

0      2006-01-01
1      2006-01-02
2      2006-01-03
3      2006-01-04
4      2006-01-05
          ...
3282   2014-12-27
3283   2014-12-28
3284   2014-12-29
3285   2014-12-30
3286   2014-12-31
Name: EST, Length: 3287, dtype: datetime64[ns]

## Tweak Data Assignment
With the nino dataset:
* Replace the periods and spaces in the column names with underscores
* The temperatures are stored as Celsius. Create a new column, ``air_temp_F``, using Fahrenheit
  (Tf = Tc*9/5 + 32)
* The wind speed is in meters per second. Create new columns,  adding ``_mph``, that uses miles per hour ( 1 MPS = 2.237 MPH )
* Convert the ``date`` column to a date type.
* Drop the obs column